.login{
    background-color: #263238;
   cursor: pointer;
}
.sign{
    background-color:#92E3A9;
    cursor: pointer;
}
.but{
    background-color: #71AE88;
    border: none;
}
.bord{
    background-color: #BCEAD9;
}